# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/

# Django
#db.sqlite3
#/media/
#/static_root/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Other temporary files
*.swp
*~